
@font-face {
	font-family: 'myriadPro-b';
	src: url('../fonts/MyriadPro-Bold.eot');
	src: local('☺'), url('../fonts/MyriadPro-Bold.woff') format('woff'), url('../fonts/MyriadPro-Bold.ttf') format('truetype'), url('../fonts/MyriadPro-Bold.svg') format('svg');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'myriadPro-r';
	src: url('../fonts/MyriadPro-Regular.eot');
	src: local('☺'), url('../fonts/MyriadPro-Regular.woff') format('woff'), url('../fonts/MyriadPro-Regular.ttf') format('truetype'), url('../fonts/MyriadPro-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'myriadPro-s';
	src: url('../fonts/MyriadPro-Semibold_0.eot');
	src: local('☺'), url('../fonts/MyriadPro-Semibold_0.woff') format('woff'), url('../fonts/MyriadPro-Semibold_0.ttf') format('truetype'), url('../fonts/MyriadPro-Semibold_0.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'myriadPro-i';
	src: url('../fonts/MyriadPro-It_0.eot');
	src: local('☺'), url('../fonts/MyriadPro-It_0.woff') format('woff'), url('../fonts/MyriadPro-It_0.ttf') format('truetype'), url('../fonts/MyriadPro-It_0.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}




